

/* for id
 #mazeWidth {
    width: 40px;
}
*/
#maze-div-no-cursor{
    cursor: pointer;
}

.mazeDims {
    width: 40px;
}

.mazeBackground{
    background-color: #464343;
    //background-color: rgb(64, 224, 208);
}

